.kanban-container {
    display: flex;
    justify-content: space-between;
}

.kanban-column {
    width: 30%;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.kanban-column-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.task-item {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    cursor: move;
}

.task-item:hover {
    background-color: #e0e0e0;
}
